body {
    padding-top: 50px;
    background: url(images/lights2.jpg);
    background-size: cover;
}
footer{
    text-align: center;
    margin: 20px;
}
.notesArea{
    text-align: center;
    height: 750px;
}
#notes{
    width: 100%;
    height: 100%;
}